node_modules/

# Template app folders
angular/
vue/
next/

# Build output
.next/
dist/
build/
out/
.angular/
.vite/
coverage/

# Environment files
.env
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Deploy/tooling
.vercel/
